#gridSearch {
    position: absolute;
    border: 1px black solid;
    left: calc(50% - 20em);
    width: 40em;
    display: flex;
}

.member {
    width: 5em;
    height: 7.50em;
    border: 1px black solid;
}

.hidden {
    display: none !important;
}

img, iframe {
    width: 480px;
    height: 360px;
}