#gridSearch {
    position: absolute;
    border: 1px black solid;
    left: calc(50% - 20em);
    width: 40em;
    display: flex;
    flex-flow: wrap;
}

.member {
    width: 5em;
    height: 7.50em;
    border: 1px black solid;
}

.hidden {
    display: none !important;
}

img, iframe {
    width: 320px;
    height: 180px;
}

#songs {
    display: flex;
    flex-flow: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}