#gridSearch {
    position: absolute;
    border: 1px black solid;
    left: calc(50% - 30em);
    width: 60em;
    display: flex;
    flex-flow: wrap;
}

.member {
    width: 5em;
    height: 7.50em;
    border: 1px black solid;
}

.hidden {
    display: none !important;
}

img, iframe {
    width: 320px;
    height: 180px;
}

#songs {
    display: flex;
    flex-flow: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#search {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    background-color: #74CFE2;
}

h2 {
    color: white;
    padding: .3em;
    width: 20em;
    background: linear-gradient(0.25turn, #74CFE2, transparent);
}